.avatar {
    flex-shrink: 0;
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid var(--pale-author-avatar-border);
    object-fit: cover;
}

.avatar[data-size='large'] {
    width: 2.75rem;
    height: 2.75rem;
}

@media (max-width: 600px) {
    .avatar[data-size='large'] {
        width: 2.5rem;
        height: 2.5rem;
    }
}
