API_GATEWAY_POSTGRES_USER=
API_GATEWAY_POSTGRES_PASSWORD=
API_GATEWAY_POSTGRES_DB=

TOPICS_POSTGRES_USER=
TOPICS_POSTGRES_PASSWORD=
TOPICS_POSTGRES_DB=

REDIS_PASSWORD=

OPENROUTER_BASE_URL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_MAX_TOKENS=
OPENROUTER_CONNECT_TIMEOUT=
OPENROUTER_READ_TIMEOUT=
